<%# app/views/pages/home.html.erb %>
<h1>Selamat Datang di Gym App!</h1>

<% if user_signed_in? %>
  <p>Halo, <%= current_user.email %>!</p>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <p>Anda belum login.</p>
  <%= link_to "Login", new_user_session_path %> |
  <%= link_to "Daftar", new_user_registration_path %>
  <br>
  <%# Link untuk Login dengan Google %>
  <%# <%= button_to "Login dengan Google", user_google_oauth2_omniauth_authorize_path, method: :post %> %>
<% end %>