<!DOCTYPE html>
<html>
  <head>
    <title>GymApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name == 'memberships' && action_name == 'paid' ? 'bg-[#12211C]' : 'bg-[rgb(15,23,36)]' %> text-white">
    <main class="container mx-auto px-5 flex justify-center items-center min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
